node_modules/
app/node_modules/
dist/
coverage/
*.log
*.lock
*.env
*.local
*.local.*
.next
*.next/
*.next/*
certs/*
nginx/certs/*
.env
.DS_Store
/*.DS_Store
/.DS_Store
/.DS_Store/*
!nginx/certs/.gitkeep